<div class="card1">
  <div class="doc-wrapper">
    <div class="card card-body doc-crd"id="card-imp">
         
<form>
    <h3>Add Your Files</h3>
    <div>
<label for="Adar" class="form-label"required>ADHAR CARD:
<span style="color:#ff0000">*</span></label><br>
  <input type="file" class="form-control" id="Adar">
</div>
<div>
  <label for="Ration" class="form-label"required>RATION CARD:
  <span style="color:#ff0000">*</span></label><br>
  <input type="file" class="form-control" id="Ration">
</div>
<div> <label for="pan" class="form-label"required>PAN CARD
  <span style="color:#ff0000">*</span></label><br>
  <input type="file"class="form-control" id="pan" >
</div>
 <div>
  <label for="Btechsem"class="form-label" required>UPLOAD BTECH ALL SEMESTERS
  <span style="color:#ff0000">*</span></label><br>
  <input type="file"class="form-control" id="Btechsem" >
</div>
<div>
  <label for="resume"class="form-label" required>UPLOAD YOUR LATEST RESUME:
  <span style="color:#ff0000">*</span></label><br>
  <input type="file"class="form-control" id="resume">
</div>
  <button class="btn btn-danger mt-5">Submit</button>
</form>
</div>
</div>
</div>


