<div class="card1">
<div class="register-wrapper">
<div class="card card-body crd" id="card-imp">
 <form>
<h3>Registration page</h3>
<div>
  <label for="firstname" class="form-label" required>FirstName:
  <span style="color:#ff0000">*</span></label>
  <br>
  <input type="text" id="firstname" placeholder="Enter the Firstname" class="form-control" >
</div>
<div>
  <label for="lastname" class="form-label">LastName:
  <span style="color:#ff0000">*</span></label> 
  <br>
  <input type="text" id="lastname" placeholder="Enter the Lastname"  class="form-control" required>
</div>
<div>
  <label for="middlename" class="form-label">MiddleName:
  <span style="color:#ff0000">*</span></label>
  <br>
   <input type="text" id="middlename" placeholder="Enter the Middlename" class="form-control"  required>
  </div> 
  <div>   
   <label for="inputEmail" class="form-label">Email address:
  <span style="color:#ff0000">*</span></label>
  <br> 
  <input type="email" id="inputEmail" placeholder="Email address" class="form-control" required autofocus></div>
  <div>
  <label for="phonenumber" class="form-label">Phone Number:
  <span style="color:#ff0000">*</span></label>
 <br>
  <input type="text" placeholder="Enter the Phone number"class="form-control" id="phonenumber" required>
</div>
  <div>
  <label for="DOB" class="form-label">Date Of Birth:
<span style="color:#ff0000">*</span></label>
 <br>
  <input type="date" id="DOB" class="form-control" placeholder="dd-mm-yyyy"required></div>
  <div>
  <p>Gender:
<span style="color:#ff0000">*</span>
  <input type="radio" class="rbtn" name="gender" value="male"required> Male
  
  <input type="radio" class="rbtn" name="gender" value="female"required> Female
</p>
</div> 
   
   <button class="btn btn-primary">Submit</button>
    </form>
    
  </div>
</div>
</div>

