<div class="card1">
  <div class="education-wrapper">
    <div class="card card-body ed-crd"id="card-imp">
     <form >
      <h3>Enter the Educational Details</h3>
      <div>
      <label for="10th" class="label-name">10th school Name/Institute name:
      <span style="color:#ff0000">*</span></label>
     <br>
      <input type="text" class="form-control" placeholder="Enter the Schoolname" id="10th">
    </div>
    <div>
      <label for="10th%" class="label-name">10th percentage(%):  
            
    <span style="color:#ff0000">*</span></label>
  
     <br>
      <input type="text" class="form-control" placeholder="Enter 10th percentage" id="10th%">
    </div>
    <div>

      <label for="12th" class="label-name">12th college Name/Institute name:
      
    <span style="color:#ff0000">*</span></label>
         <br>
      <input type="text"class="form-control" placeholder="Enter the name" id="10th">
    </div>
    <div>

      <label for="12th%" class="label-name">12th percentage(%):
      <span style="color:#ff0000">*</span></label>
     <br>
      <input type="text"class="form-control" placeholder="Enter 12th percentage" id="12th%">
    </div>
    <div>
      <label for="btech" class="label-name">Btech college Name/Institute name:
      <span style="color:#ff0000">*</span></label>
     <br>
      <input type="text"class="form-control" placeholder="Enter the Btech collegename" id="btech">
    </div>
    <div>
      <label for="btech%" class="label-name">Btech/Degree percentage(%):
      <span style="color:#ff0000">*</span></label>
     <br>
      <input type="text"class="form-control" placeholder="Enter the Btech/Degree percentage" id="btech%">
    </div>

    <div>
      <label for="Uni" class="label-name">UNIVERSITY:
    <span style="color:#ff0000">*</span></label>
     <br>
      <input type="text"class="form-control" placeholder="Enter the university" id="Uni">
    </div>
    <div>
      <label for="year" class="label-name-select">Year of PassedOuts:
    <span style="color:#ff0000">*</span>
      <select id="year">
      <option>..select..</option>
      </select></label>
    </div><br>
    <div class="text-center">
     <button class="btn btn-danger">Submit</button>
    </div>
    </form>
        
      </div>
    </div>
  </div>
    
    
